@font-face{
    font-family: 'results_font';
    src: url(../fonts/Acme-Regular.ttf);
}

body{
    background-color: grey;
    background-size: 100%;
    margin: 0px;
    background-image: url(../images/kitchen_equipment_poster_design.jpg);
}

.stuff {
    font-family: 'results_font';
    text-align:center;
    font-size: 42px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

