@font-face{
    font-family: 'results_font';
    src: url(../fonts/Acme-Regular.ttf);
}

body{
    background-color: grey;
    background-image: url(../images/pantry.jpg);
    background-size: 100%;
    margin: 0px;
}

.dispUsername{
    font-family: 'results_font';
    font-size: 64px;
    color: orange;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}

.urInventory{
    font-family: 'results_font';
    font-size: 36px;
    color: orange;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;
}

.info{
    display: inline-block;
    font-family: 'results_font';
    font-size: 30px;
    color: black;
    border-left: 8px solid orange;
    border-right: 8px solid orange;
    border-top: 8px solid orange;
    border-bottom: 8px solid orange;
    border-style: groove;
    background-color: orange;
}

.newItemBox{
    position: absolute;
    margin-left: 125px;
    margin-top: -35px;
}

.removeItemBox{
    position: absolute;
    margin-left: 625px;
    margin-top: -35px;
}

.inventoryAddBox{
    padding:5px; 
    border:2px solid black; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 150px;
}

.inventoryAddBox:focus {
    border-color:#333;
}

.inventoryAddButton {
    padding:5px 15px; 
    background:orange; 
    border:2px solid black;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.inventoryAddButton:hover{
    padding:5px 15px; 
    background:black; 
    color: white;
    border: 2px solid orange;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.inventoryAddButton2{
    padding:10px 30px 10px 30px; 
    background:orange; 
    border:2px solid black;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
    display: block;
    margin: 0 525;
}

.inventoryAddButton2:hover{
    padding:10px 30px 10px 30px; 
    background:black; 
    color: white;
    border:2px solid orange;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
    display: block;
    margin: 0 525;
}

